.title {
    margin-top: 50px;
    text-align: center;
}

.pagrafo {
    text-align: center;

}

.container a {
    display: inline-block ;
    background: var(--color-primary);
    padding: 5px ;
    color: #fff;
    text-decoration: none;
    border-radius: 40px ;
    margin-top: 5px;
    
}

.container h2 {
    text-align: center;
}
.mascotas .contenedor3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mascotas article {
    margin: 15px;
}

.mascotas p {
    text-align: center;
}

.mascotas h4 {
    text-align: center;
}
.mascotas1 h3 {
    text-align: center;
    color: var(--color-primary);
}
.mascotas .perro {
    width: 250px;
    height: 200px;
    margin-top: -20px; 
}


/*brunito*/
 .regresar a {
    margin-top: 110px;
    margin-left: 10px;
    text-decoration: none;
    color: #000000;  
}
.mascotas1 .contenedor4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.mascotas1 article {
    margin: 15px;
}

.mascotas1 article h2{
    margin-top: -20px;
    font-size: 40px;
    color: var(--color-primary);

}
.mascotas1 p {
    text-align: center;
}

.mascotas1 h4 {
    text-align: center;
}
.mascotas1 .img1 {
    width: 300px;
    height: 250px;
    margin-top: -20px; 
    border: 2px solid var(--color-primary);
}
.mascotas1 .img2 {
    width: 80px;
    height: 80px;
    margin-top: -20px; 
    border: 2px solid var(--color-primary);
}


/**/

.mascotas1 h3 {
    margin: 5px;
}


.pagrafo1 {
    margin-top: 5px;
}
.contact_form {
    text-align: center;
}
.contact_form .formulario{
    color: var(--color-primary);
}
label {
    margin: 5px;
    color: black;
}

input {
    margin: 5px;
}
